body {
  margin: 0px;
  padding: 0px;
}

h1,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

.qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d5e1ef;
}

.qr-container__card {
  max-width: 320px;
  background-color: #ffffff;
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
  font-family: Outfit;
}
